$mobile: 480px;
$tablet: 767px;
$desktop: 768px;
$screen: 499px;

@mixin mobile {
  @media (min-width: 0px) and (max-width: $mobile) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 481px) and (max-width: $tablet) {
    @content;
  }
}

@mixin mobile_tablet {
  @media (min-width: 0px) and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin screen {
  @media (max-width: $screen) {
    @content;
  }
}

@mixin square($size) {
  $calculated: 32px * $size;
  width: $calculated;
  height: $calculated;
}
